body {
  background: #123;
  min-height: 100vh;
  color: #ccc;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 16px;
}

.gridContainer {
  display: grid;
  justify-items: center;
}

#outputGrid {
  display: grid;
  gap: 0;
  height: fit-content;
}

#rowsInput,
#columnsInput {
  width: 5em;
}

#ruleControl {
  display: flex;
  gap: 16px;
  margin: 16px;
}

.ruleContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: fit-content;
}

.hidden {
  display: none;
}

.row {
  display: grid;
  width: fit-content;
}

.no-border {
  width: 16px;
  height: 16px;
}

.cell {
  width: 16px;
  height: 16px;
  outline: 1px solid #555;
}

.live {
  background: #ccc;
}

.dead {
  background: #222;
}

.on {
  background: #3f4;
}

.off {
  background: #050;
}
